#boxes {
	width:95%;
	margin: 5% auto;
}
#boxes .box {
	width:25% !important;
	padding:0;
	margin:0 -0.5% -0.5%;
	display:inline-block;
	opacity:0;
	
}
.box {
}
.box .box_job, .box .box_advice {
	display:none;
}
.box.selected .box_job,  .box.selected .box_advice {
	display:block;
}
.box_advice {
	    color: white;
    fill: white;
    font-weight: normal;
}
.box.selected svg{
	position:absolute;
	width:700px !important;
	height:400px !important;

}
#lightbox {
	position:absolute;
	background-color: rgba(0,0,0, 0.50);
	top:0;
	left:0;
	height:100%;
	width:100%;
}

body.projector #boxes .box {
	opacity:1;
}
body.projector #boxes .box.not_selected {
	
}
.box svg {
	width:100%;
	height:190px;
	display:block;
}
body#black {
	background: Black;
}
.box img {
	display:block;
	width:100%;
}
.box .box_name {
	float:left;
}
#screen {
	height:800px;
	width:100%;
}
#screen_display {
	background:Black;
}
#screen_display #screen {
	width:90%;
	height:90%;
	margin:auto;
}
#screen iframe {
	width:100%;
	height:768px;
}
.css_top {
	fill:#BBB;
}
.css_box {
	fill:#DDD;
}
.css_stamp {
	fill:#F5F5DC
;
}
#coords  {
	display:none;
}
#screen img {
	width:100%
}
svg text {
	font-weight:bold;
}