<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Détection mouvement</title>
  <meta name="description" content="Détection mouvement">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="assets/css/styles.css?v=1.0">

</head>

<body id="black">
<div id="coords"></div>
<div id="boxes">
{% for box in boxes %}
	<div class="box" data-box_name="{{ box.name }}"  data-photo_url="{{ box.photo_url }}" 
	data-content_type="{{ box.content_type }}" data-content="{{ box.content }}" data-box_year="{{ box.year }}" data-box_job="{{ box.job }}">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="941.38px" height="600.104px" viewBox="0 0 941.38 635.104" enable-background="new 0 0 941.38 643.104"
	 xml:space="preserve">
<g id="Calque_1" display="none">
	
		<image display="inline" overflow="visible" width="500" height="334" xlink:href=""  transform="matrix(1.7897 0 0 1.7897 18.9663 26.0894)">
	</image>
</g>
<g id="Calque_2">
	<rect class="css_box" x="50" y="122.414" fill="Green" stroke="#000000" width="834.483" height="501.42"/>
	<rect class="css_top" x="18.966" y="26.089" fill="Yellow" stroke="#000000" width="894.827" height="104.946"/>
	<rect class="css_stamp" x="108.621" y="212.069" fill="#FF5B3F" stroke="#000000" width="712.689" height="256.897"/>
	<text transform="matrix(1 0 0 1 350.0347 327.207)" font-family="'Arial'" font-size="60">GABRIEL L . S.</text>
	<text transform="matrix(1 0 0 1 350.0347 405.5801)" font-family="'Arial'" font-size="48">2015</text>
	<text  transform="matrix(1 0 0 1 371.0347 400.5801)" font-family="'ArialMT'" font-style="italic" font-size="30">2015</text>
	
		<image overflow="visible" width="200" height="200" xlink:href="../assets/img/fake.jpg"  transform="matrix(1.0 0 0 1 136.3452 240.5518)">
	</image>
</g>
</svg>
  </div>
{% endfor %}
		

	</div>
<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/socket.io.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/remote.js"></script>
<script src="assets/js/jquery.inlinesvg.min.js"></script>


</body>
</html>