<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Détection mouvement</title>
  <meta name="description" content="Détection mouvement">
  <link rel="stylesheet" href="assets/css/styles.css?v=1.0">

</head>

<body id="">
<div id="coords"></div>
<div id="boxes">
{% for box in boxes %}
	<div class="box" data-box_name="{{ box.name }}"  data-photo_url="{{ box.photo_url }}" 
	data-content_type="{{ box.content_type }}" data-content="{{ box.content }}">
		<img src="assets/box.svg" class="svg" />
  </div>
{% endfor %}
		

	</div>
<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/socket.io.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/remote.js"></script>
<script src="assets/js/jquery.inlinesvg.min.js"></script>


</body>
</html>