<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Détection mouvement</title>
  <meta name="description" content="Détection mouvement">
  <link rel="stylesheet" href="assets/css/styles.css?v=1.0">

</head>

<body id="">
<div id="boxes">

		<img src="assets/box.svg" alt="">
		<img src="assets/box.svg" alt="">
		<img src="assets/box.svg" alt="">
		<img src="assets/box.svg" alt="">
		<img src="assets/box.svg" alt="">
		<img src="assets/box.svg" alt="">

	</div>
<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/socket.io.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/screen1.js"></script>
</body>
</html>