<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">

  <title>Boîte ouverte sur un musée fermé (dans la boîte)</title>
  <meta name="description" content="Détection mouvement">
  <link rel="stylesheet" href="assets/css/styles.css?v=1.0">

</head>

<body id="screen_display">
<div id="coords" style="color:White"></div>

<div id="screen"></div>
<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/socket.io.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/screen.js"></script>

</body>
</html>